{% extends '::base.html.twig' %}

{% block body %}
    <h1>Registro de Usuário</h1>
    <form action="{{ path('user_register') }}" method="POST">
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first, {
            'label':'Password'
        }) }}
        {{ form_row(form.plainPassword.second, {
            'label': 'Repeat password'
        }) }}

        {{ form_rest(form) }}

        <input type="submit" value="Enviar" formnovalidate/>
    </form>
{% endblock %}